<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<footer th:fragment="footer" class="footer">
    <div class="container-fluid">
        <div class="row justify-content-center">
                <span id="jinrishici-sentence">正在加载......</span>
        </div>
        <div class="row copyright  justify-content-center">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
        </div>
    </div>
    <script th:src="@{https://sdk.jinrishici.com/v2/browser/jinrishici.js}" charset="utf-8"></script>
</footer>
</body>
</html>